<section id="experience">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Skills</h2>
                <p>
                    <b>Tools:</b> Docker, Jenkins, Git, Grafana, Prometheus, Kubernetes, Owasp Zap, Slack, Cloudflare, SonarQube <br />
                    <b>OS:</b> Windows, Linux <br />
                    <b>Concepts:</b> CI/CD pipelines, Version Control, Monitoring and Logging, Control Tower, AWS Cost Optimization <br />
                    <b>Platforms:</b> AWS, Azure
                </p>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">Projects</h2>
                <p>
                    - Portfolio Website for Angular App <br />
                    - Webapp deployment using Docker and Jenkins on AWS <br />
                    - Cloud-Based API Deployment Project
                </p>
            </div>
        </div>
    </div>
</section>
