<section id="experience">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Skills</h2>
                <p>
                    Tools: Docker, Jenkins, Git, Grafana, Prometheus <br />
                    OS: Windows, Linux <br />
                    Concepts: CI/CD pipelines, Version Control, Monitoring and Logging, Control Tower, AWS Cost Optimization <br />
                    Platforms: AWS, Azure
                </p>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">Projects</h2>
                <p>
                    - Webapp deployment using Docker and Jenkins on AWS <br />
                    - Cloud-Based API Deployment Project
                </p>
            </div>
        </div>
    </div>
</section>