<section id="experience">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Experience</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Verses Kindler Publication | Devops Engineer Intern</h2>
                <p>
                    - Managed Cloud storage infrastructure <br />
                    - Taught best cybersecurity practices to the team <br />
                    - Used Grafana for visualization of data on books <br />
                    - Worked on a pipeline project to check grammar, SEO, and AI in books and upload them to the cloud
                </p>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">Senselearner Pvt. Ltd. | Cybersecurity team lead Intern</h2>
                <p>
                    - Streamlined workload and achieved a team engagement rate of 90.4% <br />
                    - Led a team of 18 people to success in skill-based task assignment <br />
                    - Ranked number 1 among all intern groups
                </p>
            </div>
        </div>
    </div>
</section>