<section id="experience">
    <p class="section__text__p1">Browse My Recent</p>
    <h1 class="title">Projects</h1>
    <div class="experience-details-container">
        <div class="about-containers">
            <div class="details-container">
                <h2 class="experience-sub-title">Webapp deployment using Docker and Jenkins on AWS</h2>
                <p>
                    Designed and deployed a web app with Jenkins automation and Docker containerization on Amazon EC2 instances.
                </p>
            </div>
            <div class="details-container">
                <h2 class="experience-sub-title">Cloud-Based API Deployment Project</h2>
                <p>
                    Designed and deployed a serverless architecture for a scalable API using AWS Lambda, API Gateway, and DynamoDB.
                </p>
            </div>
        </div>
    </div>
</section>